<launch>
  <include file="$(find octomap_server)/launch/play_rosbag.launch">
    <arg name="filename" value="$(find octomap_server)/rosbag/2019-01-26-in-microwave.bag" />
    <arg name="rviz" value="false"/>
    <arg name="microwave" value="true"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find octomap_server)/config/microwave_success.rviz"/>

  <node name="service_call_for_rosbag" pkg="octomap_server" type="service-call-for-rosbag-microwave.l" />
</launch>
