<launch>

<!-- see /home/leus/ros/indigo/src/start-jsk/jsk_apc/jsk_arc2017_baxter/launch/setup/include/record.launch -->

<!-- USAGE -->
<!-- roslaunch euslib record_rosbag.launch filename:=$HOME/.ros/rosbag/sotsuron/hoge.bag -->

<!-- for fetch robot -->

  <arg name="filename" />
  <node name="rosbag_record"
        pkg="rosbag" type="record"
        args="-O $(arg filename)
              -b 0

              /tf
              /tf_static
              /joint_states
              /map

              /occupied_cells_vis_array
              /free_cells_vis_array
              /unknown_cells_vis_array
              "

        output="screen">
  </node>
</launch>
